
*{
    margin: 0px;padding: 0px;
}





div>.main{
    display: inline-block;
    width: 100%;
    height: 100vh;
    
}
body{
    background-color: rgb(168, 222, 240);
}

.navbar1{

    display: inline-block;
    width: 90%;
    height: 80px;
    margin-top: 17px;
    background-color: rgb(189, 138, 73);
    border-radius: 30px;
    margin-left: 70px;
    position: sticky;
    top: 0px;
}
.btn1{
    display: inline-flex;
    width: 78%;
  
}

.item{
    display: inline-block;
    background-color: rgb(228, 228, 228);
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px;
    border: maroon 2px solid;
    color: rgb(223, 2, 2);
    border-radius: 10px;
}
.btn2{
    display: inline-block;
    width:20%;
 margin-left: 10px;
 
}
.item2{
    display:inline-block;
    padding: 10px;
    margin-left:40px ;
    border-radius: 10px;
    border: maroon 2px solid;
    color: rgb(223, 2, 2);
    background-color: rgb(228, 228, 228);
    box-sizing: border-box;
    
    
}
button:hover{
    background-color: rgba(128, 0, 128, 0.459);
color: rgb(248, 248, 250);
transition: 1s;
border-color: rgb(135, 243, 12);
cursor: pointer;
}

.navbar1:hover{
    background-color: rgba(71, 255, 154, 0.603);
    transition: 3s;
    
}
div .step2{
    display: inline-block;
    width: 80%;
    height: 250px;
    margin-top: 50px;
    margin-left: 10%;
    background-image:linear-gradient(to right ,rgb(196, 149, 62) 2%,rgba(110, 199, 75, 0.767) 98%);
   border-radius: 30px;
}
.img1{
    display: inline-block;
   width: 100%;
  height: 250px;

    
}
img{
    display: inline-block;
    width: 196px;
    height: 150px;
  
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 50%;
    border: rgb(7, 7, 7) 2px solid;
}

div > .step3{
    display: inline-flex;
    width: 80%;
    height: 300px;
   
    margin-top: 50px;
    margin-left: 140px;
}

.text1{
    display: inline-block;
    width: 50%;
    height: 300px;
  background-color: rgb(231, 108, 108);  
  border-radius: 50px;
  border:black 10px solid;
   
}

.text2{
    display: inline-block;
    width: 50%;
    height: 300px;
  background-color: rgb(131, 126, 124);
  border-radius: 50px;
  border:rgb(214, 23, 23) 10px solid;
}

h1{
   text-align: center;
   color: rgb(219, 24, 24);
   text-transform: uppercase;
   margin-top: 40px;
}

p{
    text-align: center;
    margin-top: 30px;
    
    
}
p:hover{
    color: rgb(25, 204, 204);
}
h1:hover{
    color: #000;
}

.end{
    display: inline-block;
    width: 60%;
    height: 200px;
    margin-top: 50px;
    margin-left: 280px;
    background-color: darkgoldenrod;
    border-radius:50px;
    border: black 5px solid;
     
}
.para{
    text-align: center;
    margin-top: 59px;
}
